div{
    padding: 10px;
  }
button{
    cursor: pointer;
   right: 0;
   bottom: 0;
   margin: 5px;
   padding: 5px;
   border: 1.5px solid black;
   border-radius: 2px;
  }
.content{
  color: white;
  font-size:x-large;
}
